:root {
  --White: rgb(255, 255, 255);
  --Black: rgb(0, 0, 0);
  --Pink: rgb(255, 82, 191);
  --Very-Pale-Cyan: rgb(235, 251, 255);
  --Very-Dark-Cyan: rgb(0, 37, 46);
  --Grayish-Blue: rgb(128, 141, 153);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--Very-Dark-Cyan);
}

p {
  color: var(--Grayish-Blue);
}

/* HEADER */
header {
  background-color: var(--Very-Pale-Cyan);
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  height: 800px;
}

/* LOGO & BUTTON AREA */
.top {
  width: 100%;
}

.top > img {
  width: 40%;
  padding: 20px;
}

/* TRY FOR FREE BUTTON */
.topbtn {
  position: absolute;
  right: 20px;
  width: 100px;
  height: 25px;
  font-size: 70%;
  padding: 5px;
  margin-top: 15px;
  border: none;
  background: var(--White);
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

.topbtn:active {
  transform: scale(0.95);
}

.topbtn .border {
  position: absolute;
  border: 0.15em solid var(--White);
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 25px;
  transform: translate(-50%, -50%);
}

.topbtn:hover .border {
  display: block;
  width: 115px;
  height: 35px;
}

.full-rounded {
  border-radius: 2em;
}

/* HERO TEXT */
.hero {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.hero > h1 {
  font-size: 150%;
  margin-bottom: 20px;
}

/* GET STARTED BUTTON */
.btn {
  position: relative;
  left: 18%;
  width: 64%;
  height: 40px;
  padding: 24px;
  margin-top: 15px;
  border: none;
  border-radius: 50px;
  color: var(--White);
  background: var(--Pink);
  transition: all 0.1s linear;
  /* box-shadow: 0 0.1em 1em var(--Pink); */
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.btn span {
  font-size: 12px;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

.mockup {
  position: relative;
  left: 10%;
  width: 80%;
  margin-top: 43px;
}

/* MAIN PAGE CONTENT */
.cards {
  /* border: 1px solid red; */
  width: 85%;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.1);
}

/* CARD IMAGE */
.cards > img {
  width: 100%;
  margin-bottom: 50px;
}

/* CARD TEXT CONTENT */
.cardtext {
  text-align: center;
}

.cardtext > h1 {
  margin-bottom: 15px;
}

/* lAST CARD */
.lastcard {
  position: relative;
  /* bottom: 70px; */
  width: 90%;
  height: 190px;
  z-index: 1;
}

.lastcard h1 {
  margin-top: 20px;
  font-size: 100%;
}

/* CARD BUTTON */
.cardbtn {
  width: 75%;
  left: 12%;
}

/* FOOTER  */
footer {
  width: 100%;
  height: 830px;
  padding: 150px 30px 0 30px;
  background-color: var(--Very-Dark-Cyan);
}

/* COMPANY DETAILS (ADDRESS, MOBILE NUM, EMAIL) */
.footrow {
  display: flex;
  margin: 20px 3px;
  width: 100%;
}

.footrow > i {
  font-size: 20px;
  margin-right: 20px;
  color: var(--White);
}

.footrow > p {
  color: var(--White);
}

/* FOOTER LINKS */
.footlinks > a {
  display: grid;
  margin: 20px 0;
  text-decoration: none;
  color: var(--White);
}

/* SOCIAL MEDIA LINKS */
.socials {
  display: flex;
  margin: auto;
  width: 180px;
}

.socials > div {
  border: 1px solid var(--White);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.socials i {
  color: var(--White);
  padding: 10px 10px;
}

.socials > div:first-child {
  padding: 0 3px;
}

/* COPYRIGHT TEXT */
footer > p {
  font-size: 85%;
  text-align: center;
  color: var(--White);
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  /* HEADER */
  header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    height: 750px;
  }
  /* LOGO & BUTTON AREA */
  .top {
    display: inline-block;
    width: 100%;
    padding: 30px;
  }

  .top > img {
    width: 20%;
    padding: 20px;
  }

  /* TRY FOR FREE BUTTON */
  .topbtn {
    right: 50px;
    width: 130px;
    height: 35px;
  }

  .topbtn .border {
    width: 130px;
    height: 30px;
  }

  .topbtn:hover .border {
    width: 145px;
    height: 50px;
  }

  /* HERO TEXT */
  .herosection {
    display: flex;
    width: 90%;
    margin: auto;
    text-align: left;
    /* border: 1px solid red; */
    /* background-color: aqua; */
  }

  .sec1 {
    width: 35%;
  }

  .hero {
    text-align: left;
    width: 100%;
    padding: 20px;
    margin-top: 100px;
  }

  .hero > h1 {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .hero > p {
    font-size: 85%;
    color: var(--Very-Dark-Cyan);
  }

  /* GET STARTED BUTTON */
  .btn {
    position: relative;
    left: 5%;
    width: 60%;
    padding: 24px;
    margin-top: 10px;
  }

  .sec2 {
    width: 65%;
  }

  .mockup {
    position: relative;
    left: 10%;
    width: 90%;
    margin-top: 43px;
  }

  /* MAIN PAGE CONTENT */
  .cards {
    width: 85%;
    height: 360px;
    margin: auto;
    margin-top: 50px;
    padding-top: 25px;
    border-radius: 20px;
    box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.1);
  }

  /* CARD IMAGE */
  .cards:nth-child(odd) > img {
    width: 35%;
    margin-bottom: 0px;
    margin-right: 30px;
    float: right;
  }

  /* CARD TEXT CONTENT */
  .cards:nth-child(odd) > .cardtext {
    width: 38%;
    margin-left: 8%;
    margin-top: 8%;
    text-align: left;
  }

  .cardtext > h1 {
    margin-bottom: 15px;
  }

  .cardtext > p {
    font-size: 85%;
  }

  .cards:nth-child(even) > img {
    margin-left: 8%;
    margin-top: 2%;
    width: 35%;
  }

  .cards:nth-child(even) > .cardtext {
    width: 38%;
    margin-right: 4%;
    margin-top: 8%;
    text-align: left;
    float: right;
  }

  .cards:last-child {
    position: relative;
    display: grid;
    width: 50%;
    height: 200px;
    margin-top: 150px;
  }

  .cards:last-child > .cardtext {
    float: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 150%;
  }

  /* CARD BUTTON */
  .cardbtn {
    width: 40%;
    left: 30%;
    margin-top: -20px;
  }

  /* FOOTER  */
  footer {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 560px;
    padding: 190px 90px 0 90px;
    background-color: var(--Very-Dark-Cyan);
  }

  footer > div {
    width: 33.3%;
  }

  /* FOOTER LOGO */
  footer img {
    width: 65%;
  }

  /* COMPANY DETAILS (ADDRESS, MOBILE NUM, EMAIL) */
  .footrow {
    display: flex;
    margin: 20px 3px;
    width: 100%;
    font-size: 90%;
  }

  .footrow i {
    font-size: 20px;
    margin-right: 20px;
    color: var(--White);
  }

  .footrow > p {
    color: var(--White);
  }

  /* FOOTER LINKS */
  .footlinks {
    display: grid;
    padding-top: 55px;
    padding-left: 55px;
    font-size: 90%;
    text-decoration: none;
    color: var(--White);
  }

  .footlinks > a {
    margin: 10px 0;
  }

  /* SOCIAL MEDIA LINKS */
  .socials {
    display: flex;
    margin: 55px 0 0 100px;
    width: 122px;
    height: 40px;
    font-size: 80%;
  }

  .socials > div {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

  .socials i {
    color: var(--White);
    padding: 8px 8px;
  }

  .socials > div:first-child {
    padding: 0 2px;
  }

  /* COPYRIGHT TEXT */
  footer > p {
    position: absolute;
    bottom: 50px;
    right: 120px;
    font-size: 70%;
  }
}
